body {
    background: #F8BBD0;
    color: #021472;
    font-family: 'Krona One', sans-serif;
}

nav {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
    color: #021472;
    li:hover: underline;
}

div {
    margin: 10px;
}

.import-portfolio {
    font-family: 'Space Mono';
    width: 21ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 10px;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

#sobre-mim {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
}

#sobre-mim:b{
    font-family: 'Dela Gothic One', cursive;
}

footer {
    font-size: 8px;
}

/*
h1 {
    font-family: 'Dela Gothic One', cursive;
}

h2 {
    font-family: 'Krona One', sans-serif;
}

h3 {
    font-family: 'Space Mono', monospace;
}
*/