body {
    background: #F8BBD0;
    color: #021472;
    font-family: 'Krona One', sans-serif;
    overflow-x: hidden;
}

nav {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
    color: #021472;
    li:hover: underline;
}

div {
    margin: 10px;
}

#capa {
    margin-bottom: 10%;
    margin-left: 6%;
    margin-top: 2%;
}


.import-portfolio {
    font-family: 'Space Mono';
    width: 23ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.azulejos {

    margin-left: 0px;

}

.azulejos {
  background-image: url("./resources/imgs/barao-rio-branco.png");
  min-height: 200px;
  margin-right: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

#sobre-mim {
    margin-top:5%;
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
}

#sobre-mim:b{
    font-family: 'Dela Gothic One', cursive;
}

.card-text {
    font-size: 10px;
}


footer {
    font-size: 8px;
}
